In [1]:
using DataFrames
using CSV: File

In [2]:
cars = File("../../data-stats/mtcars.csv") |> DataFrame;
cars |> x -> first(x, 5)

5×13 DataFrame
 Row │ mpg      cyl    disp     hp     drat     wt       qsec     vs     am    ⋯
     │ Float64  Int64  Float64  Int64  Float64  Float64  Float64  Int64  Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 4.58258      6    160.0    110     3.9     2.62     16.46      0      1 ⋯
   2 │ 4.58258      6    160.0    110     3.9     2.875    17.02      0      1
   3 │ 4.77493      4    108.0     93     3.85    2.32     18.61      1      1
   4 │ 4.62601      6    258.0    110     3.08    3.215    19.44      1      0
   5 │ 4.32435      8    360.0    175     3.15    3.44     17.02      0      0 ⋯
                                                               4 columns omitted

In [3]:
altman = File("../../data-stats/altman_12_6.txt", delim = ",") |> DataFrame;
altman |> x -> first(x, 5)

5×3 DataFrame
 Row │ 14.3      1      1_1
     │ Float64  Int64  Int64
─────┼───────────────────────
   1 │    14.0      1      1
   2 │    14.8      1      1
   3 │    13.6      1      2
   4 │    13.6      1      2
   5 │    13.8      1      2